
<footer class="footer">
    <div class="footer-copyright">
      <p class="copyright">Copyright &copy; oCoffee 2024 - Toutes les images sont sous Copyright coffeeEnix</p>
    </div>
</footer>
</div>
</body>
</html>
