
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oCoffee</title>
    <!-- Stylesheet -->
    <link href="/integration/css/style.css" rel="stylesheet"/>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"/>
    
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-logo">
                <img src="/integration/images/logo.svg" alt="logo-ocoffee"  height="50rem" width="50rem"  >
                <figcaption class="logo">oCoffee</figcaption>
            </div>
            <nav class="nav">
                    <a class="nav-link" href="/">Accueil</a>
                    <a class="nav-link" href="/catalogue">Catalogue</a>
                    <a class="nav-link" href="/informations">À propos</a>
            </nav>
            <a class="menu-burger">Menu</a>
            <script src="/integration/menuBurger.js"></script>
        </header>
        