<%- include('partials/header') %>
<main>
    <section class="error">
       <p> la page que vous demandez est introuvable, vous pouvez cliquer sur le bouton accueil pour être rédirigé </p>
       <footer class="error-footer">
        <a href="/">Accueil </a>
       </footer>
    </section>
</main>
<%- include('partials/footer') %>